<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Classificador de Emails</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Classificador de Emails</h1>
      <p class="subtitle">Classifica como <strong>Produtivo</strong> ou <strong>Improdutivo</strong> e sugere resposta.</p>

      <form action="/predict" method="post" enctype="multipart/form-data">
        <label>Cole o texto do email:</label>
        <textarea name="text_input" rows="6" placeholder="Cole aqui..."></textarea>

        <div class="or">ou</div>

        <label>Faça upload (.txt ou .pdf):</label>
        <input type="file" name="file" accept=".txt,.pdf" />

        <button type="submit">Processar</button>
      </form>

      {% if error %}
        <div class="error">{{error}}</div>
      {% endif %}
      {% if category %}
        <div class="result">
            <h2>Classificação: {{ productivity }} </h2>
          <h3>Categoria: <span class="badge">{{category}}</span> <small>conf: {{category_conf}}</small></h3>
          <h4>Resposta sugerida:</h4>
          <div class="reply">{{response_suggested}}</div>
          <h5>Texto original:</h5>
          <pre>{{original}}</pre>
        </div>
      {% endif %}
    </div>
  </body>
</html>